button {
    background-color:#58A1D9;
    padding: 15px 20px;
    font-size: 20px;
    color: white;
    border-radius: 10px;
}

button:hover {
    background-color: #3D6A8D;
    cursor: pointer;
}

.container {
    width: 500px;
    border: grey solid .5px;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px;
    background-color:whitesmoke;
}

img {
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: grey solid 1px;
}

.title{
    padding-left: 10px;
}

hr {
    color: grey solid;
}

.paragraph {
    padding: 10px;
}